* {
    margin: 0 auto;
    text-align: center;
    background: silver;
}

#button-container {
    margin: 20px 0;
}

#temp-area {
    width: 85vw;
    height: 75px;
}

#input {
    width: 75vw; /* view width */
    height: 25px;
    background-color: white;
}
