body {
	background-color: gray;
}

div {
	margin: 0 auto;
	text-align: center;
}

.right_divs{
	margin-top: 5px;
}

#div_top{
	background-color: red;
}

#div_middle{
	background-color: orange;
}

#div_left{
	background-color: yellow;
	height: 400px;
	width: 50%;
	float: left;
}

#div_right{
	background-color: green;
	height: 400px;
	width: 50%;
	float: right;
}

#div_input_label{
	background-color: gray;
	margin-top: 30px;
}

#div_input{
	background-color: purple;
}

#div_output_label{
	background-color: gray;
}

#div_output{
	background-color:magenta;
}

#div_switch{
	background-color: pink;
}

#div_submit_button{
	background-color: white;
}

#submit_button {
	height: 100px;
	width: 200px;
	border: 2px;
	background-color: blue;
}